.Card {
  height: 20rem;
  color: black;
}

.Card-Link:hover { /* <Card /> that is also <Link /> */
  text-decoration: none;
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.16), 1px 1px 1px 1px rgba(0,0,0,0.23); */
}

