@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #F8F8F8;
}

input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none !important;
}

label {
  font-weight: bold;
}

/* .wrapper {
  width: 104em;
  max-width: calc(100% - 4em);
  margin: 5em auto;
}

.head {

}
.main {
  padding: 7em 5em 4em 5em;
} */
