.card-book {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: .25rem;
  padding: 30px;
}
.img-container{
  margin-left: auto;
  margin-right: auto;
}

.description{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

#title {
  font-weight: bold;
}